@import url(/src/web/styles/colors.less);

.filtros {
	display: grid;
	columns: 1;
	gap: .5rem;
}

.raca {
	margin: .5rem 0;

	/* todo: ocultar borda da raça na ponta */
	padding-bottom: .5rem;
	border-bottom: solid 1px @color-red;

	&.oculto {
		display: none;
	}

	.sumario {
		width: 100%;
		display: flex;
		justify-content: space-between;

		.nome {
			font-size: 1.25rem;
		}

		.livro {
			font-style: italic;
			font-size: .9rem;
			margin-top: auto;
			white-space: nowrap;
		}
	}
}

.filtro_fail {
	margin-top: 1rem;
	width: 100%;
	text-align: center;
}
